<div id="login-container">
    <div class="login-box">
        <h2>Reset Password</h2>
        <p>Enter your email address and we will send you a link to reset your password.</p>
        <form id="password-reset-request-form">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required autocomplete="email">
            </div>
            <button type="submit" class="btn">Send Reset Link</button>
            <p id="message" class="error-message" style="color: var(--success-color);"></p>
        </form>
        <a href="#" id="login-link" class="link">Back to Login</a>
    </div>
</div>